[submodule "kicad"]
	path = kicad
	url = https://github.com/emergence-engineering/kicad-source-mirror.git
	branch = wasm-port
[submodule "wxwidgets"]
	path = wxwidgets
	url = https://github.com/emergence-engineering/wxWidgets.git
	branch = wasm-port
[submodule "web/pcbjam-shared"]
	path = web/pcbjam-shared
	url = https://github.com/emergence-engineering/pcbjam-shared.git
	branch = main
